

$white: rgb(255, 255, 255);
$main-content-bg:rgb(87, 85, 85);
$black:black;
$gray:gray;
// main2
:root{
    font-size: 16px;
}
.main-grid{
    display: grid;
    grid-template-areas:
    "aside navdiv navdiv navdiv navdiv"
    "aside main main main main";
    position: relative;
}



.nopadding{
    padding: 0;
}
.nomargin{
    margin: 0;
}


// nav
.nav-div{
    grid-area: navdiv;
    
    position: fixed;
    width: 80vw;
   min-height: 6vw; 
   top: 0%;
   right: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgba($color: $black, $alpha: 0.92);
   z-index: 101;
   .back-forword{
    display: flex;
    .active{
        color: $white; 
        }
    span{
        width: 2em;
        height: 2em;
        background-color: $main-content-bg;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.1em;
        color: gray;
        font-size: 1em;
    }
   }
   .btndiv{
    a{
    margin: 0.1em;
    text-decoration: none;
       
}
.btn-1{
    background-color: $white;
    padding: 0.5em;
    box-sizing: border-box;
    border-radius: 1.1em;
    font-size: 1.1em;
    font-weight: 600;
    color: $black;
    &:hover{
        background-color: $black;
        color: $white;
        font-size: 1.1em;
        font-weight: 600;
    }
}
.btn-2{
    color:gray;
    &:hover{
        color: $white;
    }
}
   }
  
}







// main content
.main-content{
    grid-area: main;
    width: 80vw;
    background-color: $black;
    position: absolute;
    top: 6vw;
    right: 0%;
    // height: 900px;
    .opac{
        width: 80vw;
        height: 30em;
        position: fixed;
        top: 6vw;
        right: 0%;
        background-image: linear-gradient(rgba(255, 255, 255, 0.123), rgba(255, 255, 255, 0));
        
    }
.title-style{
    color: $white;
    h3{
        font-size: 1.2em;
    
    }
    p{
        font-size: 1em;
    }
    .title-st{&:hover{
        text-decoration: underline;
    }
}

}

.bg{
    background-color: $main-content-bg;
    color: $white;
}

}


.right-aside{
    grid-area: aside;
    
    background-color: $black;
    height: 100vh;
    position: fixed;
    width: 19vw;
    padding-top: 3em;
    z-index: 150;
    
    .ul-menu{
        list-style: none;
        color:$gray;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        svg{
            width: 15vw;
            
            .st0{fill:$white;}
            .st1{fill:$white;}
            .st2{fill:$white;}
            .st3{fill:$white;}
            .st4{fill:$white;}
        }
       li:nth-child(2){
        padding-top: 1em;
       }
       li:nth-child(5){
        padding-top: 2em;
       }
       .active{
        color: $white; 
        }





    }





}











@media screen and (max-width: 920px){
    :root{
        font-size: 14px;
    }
    .right-aside{
        width: 20vw;
    }
    
}
@media screen and (max-width: 600px){
    :root{
        font-size: 14px;
    }
   
    .main-grid{
        display: flex;
        flex-direction: column;
        flex-flow: column;
        .h600px{
            height: 15vw;
            width: 100%;
        }
        .right-aside{
            display: flex;
            position: static;
            top: 15vw;
            flex-direction: row;
            height: auto;
            width: 100%;
            padding-top: 0;
            .ul-menu{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-self: center;
                align-items: center;
               
                
            }
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg{
                        width: 80%;
                    }
                    @for $i from 2 to 7 {
                        &:nth-child(#{$i}){
                            display: none;
                        }  
                    }
                    
            }
             &:hover {
                @for $i from 2 to 7 {
                    li:nth-child(#{$i}){
                        display: flex;
                    }  
                }
                }
        }
        .nav-div{
            position: fixed;
            height: 15vw;
            z-index: 200;
            width: 100%;
        }
        .main-content{
            position: static;
            width: 100%;
            .opac{
                width: 100%;
            }
         
        }
    }
   

    .col-3{
        width: 100%;
        padding-bottom: 1em;
    }
    
}